/* body{
    background-color: olivedrab;
} */
 html {
  scroll-behavior: smooth;
}
 .header_logo{
    width: 246px;
 }
img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
button{
    padding: 0;
    list-style: none;
    border: none;
}
/* 
@media (max-width: 1024px) {
}


@media (max-width: 768px) {
}


@media (max-width: 480px) {
} */
 @media (min-width: 1240px) {
    .container{
        width: 1200px;
        margin: 0 auto;
        padding: 0 16px;
    }
}
.header{
    background-color: #99948E;
    margin: 40px 0;
}
.header_container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
.header_nav-list{
    display: flex;
}
.header_nav-item:not(:last-child){
    margin-right: 50px;
}
.header_nav-link{
    font-size: 24px;
    color: black;
}

.hero{
    background-image: url(../img/hero-img.png);
    max-width: 1440px;
    height: 682px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 40px;
    
}
.hero_container{
    max-width: 500px;
    padding: 0 16px;
     padding-top: 154px;
     margin-left: auto;
}
.hero_title{
    display: block;
    background-color: #99948E;
    width: 412px;
    font-size: 28px;
    padding: 16px 8px;
    margin-bottom: 26px;
}
.hero_description{
    display: block;
    background-color: #ABA9A9;
    width: 462px;
    font-size: 24px;
    padding: 16px 8px;
    margin-bottom: 42px;
}
.hero_btn{
    /* width: 412px; */
    font-size: 24px;
    padding: 16px 42px;
    color: #ffffff;
    background-color: #5F0E0D;
}


.services{
    background-color: rgba(212, 206, 207, 0.411);
    padding-top: 50px;
    padding-bottom: 150px;
}
.services_title{
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 4px 68px;
    background-color: #D4CECF;
    font-size: 32px;
    margin-bottom: 90px;
}
.services_list{
     display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.services_list-item{
    text-align: center;
    width: 272px;
}
.services_list-description{
    background-color: #ABA9A9;
    padding: 16px 0;
    text-align: center;
 
    margin: 0;
    font-size: 24px;
    /* height: 78px; */
}
.b{
  padding: 10px;
  font-size: 18px;
}
.values{
    padding: 50px 0;
}
.values_title{
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-size: 32px;
    padding: 4px 16px;
    background-color: #B0A7A7;
    margin-bottom: 100px;
}
.values_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.values_item{
    
    background-color: #D4CECF;
    padding: 46px;
    border-radius: 50%;
}

.reference{
    padding: 50px 0;
    background-color: #E8E7E7;
    height: 500px;
}
.reference_title{
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-size: 32px;
    padding: 8px 16px;
    background-color: #B0A7A7;
}